
    <div class="navbar-fixed">
    <nav style="background:#ff5400;;">
      <div class="nav-wrapper">
        <a id="app-name" class="brand-logo" style="font-size: 15pt;">{{ Global.AppName }}</a>
        <a *ngIf="checkPage() == 0" style="text-decoration:none;" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <a *ngIf="checkPage() == 1" (click)="back()" style="text-decoration:none;" data-activates="mobile-demo" style="float: left;position: relative;z-index: 1;height: 56px;margin: 0 18px;">
                <i class="material-icons">arrow_back</i>
            </a>
        
        <a *ngIf="checkPage() == 0" (click)="ordenar()" style="text-decoration:none;" data-activates="mobile-demo" style="float: right;position: relative;z-index: 1;height: 56px;margin: 0 18px;">
            <i class="fa fa-filter"></i>
        </a>
        <a *ngIf="checkPage() == 1" style="text-decoration:none;" data-activates="mobile-demo" class="button-collapse" style="float: right;position: relative;z-index: 1;height: 56px;margin: 0 18px;">
                <i class="material-icons">menu</i>
        </a>
        <a (click)="buscar()" style="text-decoration:none;" data-activates="mobile-demo" style="float: right;position: relative;z-index: 1;height: 56px;margin: 0 18px;">
            <i class="fa fa-search"></i>
        </a>


      <ul class="side-nav" id="mobile-demo">
          <li><div class="user-view">
            <div class="background">
            <img src="assets/images/menu.jpeg" style="width: 100%;">
            </div>
            <a>
                <img *ngIf="Global.userData() == null || Global.userData().foto == null" id="foto_menu" class="circle" src="assets/images/nouser.jpg">
                <img *ngIf="Global.userData() != null && Global.userData().foto != null" id="foto_menu" class="circle" [src]="Global.filesURL+'/usuarios/'+Global.userData().foto">
            </a>
            
            <a *ngIf="Global.userData() != null"><span class="white-text name"><b style="color:#f58634">{{ Global.userData().name }}</b></span></a>
            <a *ngIf="Global.userData() != null"><span class="white-text email"><b style="color:#f58634">{{ Global.userData().email }}</b></span></a>
            
            <a *ngIf="Global.userData() == null">
                <span class="white-text name" style="color:#f58634;">Visitante</span>
            </a>
          </div></li>                    
          <li><a (click)="pushPage('Home')"><i class="material-icons">home</i>Início</a></li>
          
          <li *ngIf="Global.userData() != null"><a (click)="pushPage('Favoritos')"><i class="material-icons">favorite</i>Favoritos</a></li>
          <li *ngIf="Global.userData() == null" (click)="loginPanel()"><a><i class="material-icons">favorite</i>Favoritos</a></li>

          <li *ngIf="Global.userData() != null"><a (click)="pushPage('Pagar')"><i class="material-icons">card_membership</i>Pagar</a></li>
          <li *ngIf="Global.userData() == null" (click)="loginPanel()"><a><i class="material-icons">card_membership</i>Pagar</a></li>
          
          <li *ngIf="Global.userData() != null"><a (click)="pushPage('Fidelidade')"><i class="material-icons">card_membership</i>Vizualizar Pontos</a></li>
          <li *ngIf="Global.userData() == null" (click)="loginPanel()"><a><i class="material-icons">card_membership</i>Vizualizar Pontos</a></li>

          <li *ngIf="Global.userData() != null"><a (click)="pushPage('Cupons')"><i class="material-icons">local_offer</i>Cupons</a></li>          
          <li *ngIf="Global.userData() == null" (click)="loginPanel()"><a><i class="material-icons">local_offer</i>Cupons</a></li>

          <li *ngIf="Global.userData() != null"><a (click)="pushPage('Mensagens')"><i class="material-icons">notifications_active</i>Notificações <span *ngIf="Global.notificacoes > 0">({{ Global.notificacoes }})</span></a></li>
          <li *ngIf="Global.userData() == null" (click)="loginPanel()"><a><i class="material-icons">notifications_active</i>Notificações</a></li>
          

          <li><a (click)="pushPage('Categorias')"><i class="material-icons">assignment</i>Categorias</a></li>
          <li><a (click)="pushPageParams('Home', {'indice':'0'})"><i class="material-icons">store</i>Lojas Afiliadas</a></li>
          <li><a (click)="pushPageParams('Home', {'indice':'1'})"><i class="material-icons">whatshot</i>Ofertas</a></li>

          <li><div class="divider"></div></li>

          <li><a *ngIf="Global.userData() == null" (click)="loginPanel()"><i class="material-icons">vpn_key</i>Login</a></li>
          <li><a *ngIf="Global.userData() == null" (click)="registroPanel()" class="modal-trigger"><i class="material-icons">person_add</i>Registro</a></li>
          
          <li><a *ngIf="Global.userData() != null" (click)="pushPage('Perfil')"><i class="material-icons">person</i>Perfil</a></li>
          <li><a *ngIf="Global.userData() != null" (click)="pushPage('Saldo')"><i class="material-icons">card_membership</i>Saldo</a></li>
          <li *ngIf="Global.userData() != null"><a (click)="Sair()" class="modal-trigger"><i class="material-icons">close</i>Sair</a></li>

          <li><div class="divider"></div></li>

          <li>
            
            <a  href="https://api.whatsapp.com/send?phone=5562998417878" 
                style="line-height: 20px; margin-top:10px;line-height: 20px;margin-top: 10px;height: 20px; margin-bottom:20px;">                
                <p>
                    <i class="fa fa-whatsapp" style="margin-right: 10px;"></i> (62) 9841-7878
                </p>
            </a>
            <a style="line-height: 20px; margin-top:10px;line-height: 20px;margin-top: 10px;height: 20px; margin-bottom:20px;">                
                <p>
                    VMX do Brasil
                </p>
            </a>        
          </li>

          <!-- <li><a class="subheader">Subheader</a></li> -->
          <!-- <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->
        </ul>
      </div>
    </nav> 
  </div>  

  <div class="jconfirm jconfirm-modern jconfirm-open" id="mascara" style="display:none; z-index:9999;">        
        <div class="jconfirm-bg" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);"></div>
        <div class="jconfirm-scrollpane">
            <div class="jconfirm-row">
                <div class="jconfirm-cell">
                    <div class="jconfirm-holder" style="display: none;">
                        <div class="jc-bs3-container container">
                            <div class="jc-bs3-row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                <div class="jconfirm-box-container jconfirm-animated col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 jconfirm-no-transition" style="transform: translate(0px, 0px); transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);">
                                    <div class="jconfirm-box jconfirm-hilight-shake jconfirm-type-black jconfirm-type-animated" role="dialog" aria-labelledby="jconfirm-box44094" tabindex="-1" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); transition-property: all, margin;">
                                        <div class="jconfirm-closeIcon" style="display: block;" onclick="$('#mascara').fadeOut('100');">×</div>                                        
                                        <div class="jconfirm-content-pane no-scroll" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); height: 240px;">
                                            <div class="jconfirm-content" id="jconfirm-box44094">
                                                
                                            </div>
                                        </div>                                        
                                        <div class="jconfirm-clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

  <div class="jconfirm jconfirm-modern jconfirm-open" id="loginPanel" style="display:none; z-index:9999; background-image: url('../assets/img/menu.jpeg');">
    <form class="LoginForm" #l="ngForm" (ngSubmit)="LoginSubmit(l)">
    <div class="jconfirm-bg" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);"></div>
    <div class="jconfirm-scrollpane">
        <div class="jconfirm-row">
            <div class="jconfirm-cell">
                <div class="jconfirm-holder" style="padding-top: 40px; padding-bottom: 40px;">
                    <div class="jc-bs3-container container">
                        <div class="jc-bs3-row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                            <div class="jconfirm-box-container jconfirm-animated col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 jconfirm-no-transition" style="transform: translate(0px, 0px); transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);">
                                <div class="jconfirm-box jconfirm-hilight-shake jconfirm-type-black jconfirm-type-animated" role="dialog" aria-labelledby="jconfirm-box44094" tabindex="-1" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); transition-property: all, margin;">
                                    <div class="jconfirm-closeIcon" style="display: block;" onclick="$('#loginPanel').fadeOut('100');">×</div>
                                    <div class="jconfirm-title-c"><span class="jconfirm-icon-c"><img src="assets/images/banner.png" style="width: 100%;"></span><span class="jconfirm-title">Login</span></div>
                                    <div class="jconfirm-content-pane no-scroll" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); height: 240px;">
                                        <div class="jconfirm-content" id="jconfirm-box44094">
                                            <div>
                                                <div class="loginform">                                                    
                                                    
                                                        <div class="form-group">
                                                            <label class="control-label"><b>Email</b></label>
                                                            <input type="email" class="form_input" name="email" ngModel>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label"><b>Senha</b></label>
                                                            <input type="password" class="form_input" name="password" ngModel>
                                                        </div>
                                                        <p style="text-align:center;">Não tem uma conta? <a onclick="$('#registroPanel').fadeIn('100')" class="">Registre-se</a></p>
                                                        <a onclick="$('#loginPanel').fadeOut('100'); $('#recuperarSenhaPanel').fadeIn('100');" class="">Esqueceu a senha?</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jconfirm-buttons">
                                      <button type="submit" class="btn btn-primary blue darken-1">ENTRAR</button>
                                 <!--     <button type="button" class="btn btn-primary blue darken-1" (click)="loginFacebook()">
                                          <i style="float: left;margin-top: -3px;" class="fa fa-facebook"></i> 
                                          <span style="margin-left:10px;">Login com Facebook</span>
                                    </button> -->
                                    </div>
                                    <div class="jconfirm-clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
  

<div class="jconfirm jconfirm-modern jconfirm-open" id="recuperarSenhaPanel" style="display:none; z-index:9999;">
        <form class="LoginForm" #m="ngForm" (ngSubmit)="RecuperarSenhaSubmit(m)">
        <div class="jconfirm-bg" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);"></div>
        <div class="jconfirm-scrollpane">
            <div class="jconfirm-row">
                <div class="jconfirm-cell">
                    <div class="jconfirm-holder" style="padding-top: 40px; padding-bottom: 40px;">
                        <div class="jc-bs3-container container">
                            <div class="jc-bs3-row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                <div class="jconfirm-box-container jconfirm-animated col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 jconfirm-no-transition" style="transform: translate(0px, 0px); transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);">
                                    <div class="jconfirm-box jconfirm-hilight-shake jconfirm-type-black jconfirm-type-animated" role="dialog" aria-labelledby="jconfirm-box44094" tabindex="-1" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); transition-property: all, margin;">
                                        <div class="jconfirm-closeIcon" style="display: block;" onclick="$('#recuperarSenhaPanel').fadeOut('100');">×</div>
                                        <div class="jconfirm-title-c"><span class="jconfirm-icon-c"><img src="assets/images/banner.png" style="width: 100%;"></span><span class="jconfirm-title">Recupere sua senha!</span></div>
                                        <div class="jconfirm-content-pane no-scroll" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); height: 100px;">
                                            <div class="jconfirm-content" id="jconfirm-box44094">
                                                <div>
                                                    <div class="loginform">
    
                                                            <div class="form-group">
                                                                <label class="control-label"><b>Email</b></label>
                                                                <input type="email" class="form_input" name="email" ngModel>
                                                            </div>
    
                                                            <p align="center">Não tem uma conta? <a onclick="$('#recuperarSenhaPanel').fadeOut('100'); $('#registroPanel').fadeIn('100');" class="">Registre-se</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jconfirm-buttons">
                                          <button type="submit" class="btn blue darken-1">Recuperar Senha</button>
                                        </div>
                                        <div class="jconfirm-clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <div class="jconfirm jconfirm-modern jconfirm-open" id="registroPanel" style="display:none; z-index:9999;overflow:auto;">
            <form class="LoginForm" #f="ngForm" (ngSubmit)="RegistroSubmit(f)" ngNativeValidate>
            <div class="jconfirm-bg" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);"></div>
            <div class="jconfirm-scrollpane">
                <div class="jconfirm-row">
                    <div class="jconfirm-cell">
                        <div class="jconfirm-holder" style="padding-top: 10px; padding-bottom: 40px;">
                            <div class="jc-bs3-container container">
                                <div class="jc-bs3-row justify-content-md-center justify-content-sm-center justify-content-xs-center justify-content-lg-center">
                                    <div class="jconfirm-box-container jconfirm-animated col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 jconfirm-no-transition" style="transform: translate(0px, 0px); transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);">
                                        <div class="jconfirm-box jconfirm-hilight-shake jconfirm-type-black jconfirm-type-animated" role="dialog" aria-labelledby="jconfirm-box44094" tabindex="-1" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); transition-property: all, margin;">
                                            <div class="jconfirm-closeIcon" style="display: block;" onclick="$('#mascara').fadeOut('100');$('#registroPanel').fadeOut('100');">×</div>
                                            <div class="jconfirm-title-c"><span class="jconfirm-icon-c"><img src="assets/images/banner.png" style="width: 100%;"></span><span class="jconfirm-title">Registro</span></div>
                                            <div class="jconfirm-content-pane no-scroll" style="transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);overflow: auto;">
                                                <div class="jconfirm-content" id="jconfirm-box44094" style="margin-bottom:unset;">
                                                    <div>
                                                            
                                                        <!-- <div class="loginform">                                                                  -->
                                                                <div class="row">
                                                                <div class="input-field col s12">
                                                                    <label class="control-label"><b>Nome</b></label>
                                                                    <input type="text" name="name" ngModel class="form_input" required>
                                                                </div>

                                                                <div class="input-field col s12">
                                                                    <label class="control-label"><b>Email</b></label>
                                                                    <input type="email" name="email" ngModel class="form_input" required>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <label class="control-label"><b>Telefone</b></label>
                                                                    <input type="text" name="contato" ngModel class="form_input" required>
                                                                </div>
                                                                

                                                                <label class="control-label"><b>Sexo</b></label>
                                                                <p style="margin-left: 15px;">
                                                                    <input name="sexo" type="radio" id="s_masculino" value="0" checked ngModel/>
                                                                    <label for="s_masculino">Masculino</label>
                                                                </p>
                                                                <p style="margin-left: 15px;">
                                                                    <input name="sexo" type="radio" id="s_feminino" value="1" ngModel/>
                                                                    <label for="s_feminino">Feminino</label>
                                                                </p>
                                                                
                                                               
                                                                <div class="form-group col s12">
                                                                    <label class="control-label"><b>Data de Nascimento</b></label>
                                                                    <input type="date" name="nascimento" ngModel class="form_input" required>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <label class="control-label"><b>Senha</b></label>
                                                                    <input type="password" id="password" name="password" ngModel class="form_input" required>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <label class="control-label"><b>Confirme a Senha</b></label>
                                                                    <input type="password" id="password_confirmation" name="password_confirmation" ngModel class="form_input" required>
                                                                </div>
        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jconfirm-buttons">
                                              <button type="submit" class="btn blue darken-1">Registrar</button>                                                                                            
                                            </div>
                                            <div class="jconfirm-clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>