page-header {

    .card-b1{

        margin-top: 10px;
        margin-bottom: 10px;
        background-color:#ff5400; 
        border: #ff5400 1px solid;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        align-content: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 50px;
        width: 100%;
        font-weight: bold;

    }


    
}
