
.content {
  background-image: url('../imgs/menu.jpeg');
  background-size: cover;
}


.noshow{
    display:none;
    background: #ff5400;
    background-color: #ff5400;
}
.menu{
    margin-top: -21px;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* loader */

/* html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
} */

/* a{
  text-decoration: none;
} */

/* GRID */

.three { width: 23.8%; }

/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.three{
  background-color: white;
  padding: 50px 0;
  width: 100%;
  height: 100%;
  top: -4px;
  position: fixed;
  z-index: 999;
  left: -6px;
}

/* ALL LOADERS */

.loader{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  /* margin: 0 auto; */
  margin-left: 47%;
  top: 50%;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #ff3333;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes squaremove{
  0%, 100%{
    -webkit-transform: translate(0,0) rotate(0);
    -ms-transform: translate(0,0) rotate(0);
    -o-transform: translate(0,0) rotate(0);
    transform: translate(0,0) rotate(0);
  }

  25%{
    -webkit-transform: translate(40px,40px) rotate(45deg);
    -ms-transform: translate(40px,40px) rotate(45deg);
    -o-transform: translate(40px,40px) rotate(45deg);
    transform: translate(40px,40px) rotate(45deg);
  }

  50%{
    -webkit-transform: translate(0px,80px) rotate(0deg);
    -ms-transform: translate(0px,80px) rotate(0deg);
    -o-transform: translate(0px,80px) rotate(0deg);
    transform: translate(0px,80px) rotate(0deg);
  }

  75%{
    -webkit-transform: translate(-40px,40px) rotate(45deg);
    -ms-transform: translate(-40px,40px) rotate(45deg);
    -o-transform: translate(-40px,40px) rotate(45deg);
    transform: translate(-40px,40px) rotate(45deg);
  }
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

@keyframes moveanimation1{
  0%, 100%{
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  75%{
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes moveanimation2{
  0%, 100%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  75%{
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes moveanimation3{
  0%, 100%{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  75%{
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}

@keyframes rotatemove{
  0%{
    -webkit-transform: scale(1) translateX(0px);
    -ms-transform: scale(1) translateX(0px);
    -o-transform: scale(1) translateX(0px);
    transform: scale(1) translateX(0px);
  }

  100%{
    -webkit-transform: scale(2) translateX(45px);
    -ms-transform: scale(2) translateX(45px);
    -o-transform: scale(2) translateX(45px);
    transform: scale(2) translateX(45px);
  }
}


/* loader */


/* login-page */

 /*bootstrap class override for login page only*/
 .form-control{
  border-radius: 0px;
  margin: 12px 3px;
  height: 40px;
}
.logo{
  margin: auto;
  text-align: center;
  padding-top: 20%;
}
.logo img{
  height: 70px;
}
/*footer*/ 
.footer a{
  color: #000;
  text-decoration: none;
}
.footer{
  color: #000;
  text-align: center;
}
/*footer end*/ 


/*for logintemplate blue*/
.grayBody{
  background-color: #E9E9E9;
}
.loginbox{
  margin-top: 5%;
  border-top: 6px solid #0088D8;
  background-color:#fff;
  padding: 20px;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
}
.singtext{    
  font-size: 28px;  
  color: #0088D8;
  font-weight: 500;
  letter-spacing: 1px;
}
.submitButton{
  background-color: #0088D8;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 100%;
  margin-left: 2px;
  font-size: 16px;
  border-radius: 0px;
  outline: none;
}
.submitButton:hover,.submitButton:focus{
  color: #fff;  
  outline: none;
}
.forGotPassword{
  background-color: #F2F2F2; 
  padding: 15px 0px;
  text-align: center;

}
.forGotPassword:hover{
   box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);    
}
.forGotPassword a{
  color: #000;
  outline: none;
}
.forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{  
  text-decoration: none; 
  outline: none;
}

/* login-page */

.ion-icon{
  margin-right: 3%;
}

.input-login{
  background-color: transparent;
}

.btn-icon{
  background: transparent;
}

.item-ios [item-right], .item-ios [item-end]{
  background : transparent;
}

.label-md[stacked], .label-md[floating]{
  color: #ff3333;
}

.login{
  display: block;
  margin-left: 25%;
  width: 50%;
}
.real-login {
  background-image: url('../images/home-banner.jpg');
  background-size: cover;

}

.card{

  margin-top: 10px;
  border: #ff5400 1px solid;
  align-items: center;
  border-radius: 10px;
}
.imput-1{

  
  margin-right: 10%;
   
  border: #ff5400 2px solid;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  outline: none;
  

}
.input-container2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}
.icon2 {
  border-radius: 5px;
  margin-left: 10%;
  padding: 10px;
  background: #ff5400;
  color: white;
  min-width: 50px;
  text-align: center;
}

.card-b1{

  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#ff5400; 
  border: #ff5400 1px solid;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  align-content: center;
  
  height: 50px;
  width: 100%;
  font-weight: bold;

}

.card-b2{

  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#488aff; 
  border: #488aff 1px solid;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  align-content: center;
  
  height: 50px;
  width: 100%;
  font-weight: bold;

}
.card-txt{

  
  
  border-radius: 5px;
  text-align: center;
  color: #0b0b0c;
  align-content: center;      
  
  font-weight: bold;

}
.wrapper-login{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.wrapper-login2{
  
  top: 0;
   
  
  
  align-items: center;
  justify-content: center;
       

}

.page-wallet {
  background-image: url("../imgs/menu.jpeg") !important;
  background-size: cover;
}

.page-wallet .page-content {
  margin-bottom: 2rem;
  padding: 2rem 4rem 0;
}

.page-wallet .page-content .item-info {
  text-align: center;
  margin-bottom: 2rem;
}

.page-wallet .page-content .item-info .item-info--label {
  font-size: 1.4rem;
  color: #000;
  line-height: 1;
  font-weight: bold;
  margin-bottom: .5rem;
}

.page-wallet .page-content .item-info .item-info--value {
  padding: .6rem;
  border-radius: 12px;
  border: 2px solid #db5800;
  background: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.page-wallet .page-content .affiliate {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

.page-wallet .page-content .affiliate .affiliate--field {
  padding: 0 .5rem;
}

.page-wallet .page-content .affiliate .affiliate--field .item {
  padding-left: 0;
}

.page-wallet .page-content .affiliate .affiliate--field .item .item-inner {
  border-bottom: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}

.page-wallet .page-content .affiliate .affiliate--field .item .label {
  margin-top: 0;
  font-size: 2rem;
  color: #777;
  font-weight: bold;
}

.page-wallet .page-content .affiliate .affiliate--field .item .select-text {
  font-size: 2rem;
  font-weight: bold;
}

.page-wallet .page-submit {
  padding: 0 4rem;
  padding-bottom: 20px;
}

.page-wallet .page-submit .btn {
  font-size: 2.2rem;
  color: #fff;
  text-transform: uppercase;
  height: 55px;
  border-radius: 12px;
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  display: block;
}

.page-wallet .field .item .item-inner {
  background-color: #fff;
  border: 2px solid #db5800;
  border-radius: 12px;
}

.page-wallet .field .item .item-inner {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.page-wallet .field .item input {
  text-align: center;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  margin: 0;
  border-bottom: 0;
  height: 4rem;
}

.page-wallet .field .item input:focus {
  border-bottom: 0 !important;
  box-shadow: none !important;
}

.page-wallet .label {
  text-align: center;
  display: block;
}

.page-wallet select {
  display: block !important;
  margin: 10px 0;
  border: 0;
  font-weight: normal;
  font-size: 24px;
}

.page-wallet select:active {
  border: 0 !important;
  outline: none !important;
}

.page-wallet select:focus {
  border: 0 !important;
  outline: none !important;
}

.page-payment-form select {
  display: block !important;
  margin: 10px 0;
  border: 0;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  height: auto !important;
}

.page-payment-form select:active {
  border: 0 !important;
  outline: none !important;
}

.page-payment-form select:focus {
  border: 0 !important;
  outline: none !important;
}

.page-payment-form {
  background-image: url("../imgs/menu.jpeg");
  background-size: cover;
}

.page-payment-form .steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.page-payment-form .steps .step {
  border: 2px solid #db5800;
  padding: 2px 15px;
  border-radius: 12px;
  font-size: 18px;
  color: #db5800;
}

.page-payment-form .steps .step.current {
  font-weight: 500;
  border-width: 3px;
}

.page-payment-form .steps .step.not-available {
  color: #000;
  border-color: #000;
}

.page-payment-form .steps .separator {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-payment-form .steps .separator:after {
  background-color: #db5800;
  content: ' ';
  display: block;
  height: 2px;
  width: 100%;
}

.page-payment-form .steps .separator.not-available:after {
  background-color: #000;
}

.page-payment-form .item {
  background-color: transparent;
  padding-left: 0;
}

.page-payment-form .item-checkbox .checkbox {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}

.page-payment-form .item-checkbox .item-inner {
  border-bottom: 0 !important;
}

.page-payment-form .field-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-payment-form .field-group .icon {
  margin-right: 15px;
  width: 30px;
  padding-top: .5rem;
  color: #db5800;
  font-size: 3rem;
}

.page-payment-form .field-group .field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 20px;
}

.page-payment-form .field-group .field label {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

.page-payment-form .field-group .field input {
  font-size: 16px;
  margin: 0;
}

.page-payment-form .field-group .field p {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.page-payment-form .page-form {
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #db5800;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.page-payment-form .page-submit {
  padding: 0 4rem;
  padding-bottom: 2rem; 
}

.page-payment-form .page-submit .btn {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  height: 55px;
  border-radius: 12px;
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
}

page-payment-finished {
  background-image: url("../imgs/menu.jpeg");
  background-size: cover;
}

.page-payment-finished .steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.page-payment-finished .steps .step {
  border: 2px solid #db5800;
  padding: 2px 15px;
  border-radius: 12px;
  font-size: 18px;
  color: #db5800;
}

.page-payment-finished .steps .step.current {
  font-weight: 500;
  border-width: 3px;
}

.page-payment-finished .steps .step.not-available {
  color: #000;
  border-color: #000;
}

.page-payment-finished .steps .separator {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-payment-finished .steps .separator:after {
  background-color: #db5800;
  content: ' ';
  display: block;
  height: 2px;
  width: 100%;
}

.page-payment-finished .steps .separator.not-available:after {
  background-color: #000;
}

.page-payment-finished .page-content {
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #db5800;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}

.page-payment-finished .page-content .icon {
  text-align: center;
  display: block;
}

.page-payment-finished .page-content span.material-icons {
  font-size: 6.5rem;
  color: #4BB543;
  width: 72px;
  margin: auto;
}

.page-payment-finished .page-content h2, page-payment-finished .page-content p {
  text-align: center;
  margin: 0;
}

.page-payment-finished .page-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #4BB543;
}

.page-payment-finished .page-content p {
  line-height: 1.5;
  font-size: 22px;
}

.page-payment-finished .page-button {
  padding: 0 4rem;
  padding-bottom: 2rem;
}

.page-payment-finished .page-button .btn {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  height: 55px;
  border-radius: 12px;
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
}

body, html {
  height: 100%;
}

ion-app {
  display: flex;
  height: 100%;
}

ion-nav {
  height: 100%;
  display: flex;
}
